header.jumbotron {
  background: url("../images/header.png");
  background-position: center center;
  background-size: cover;
  color: #fff;
  font-family: 'Slabo 27px', serif;
  text-shadow: 1px 1px 0 #333;
  margin: 0;
}

header .container {
  margin-top: 10%;
}

header div {
  vertical-align: middle;
}

.nav.justify-content-end {
  background-color: #333;
}

.nav.justify-content-end a {
  color: white;
}

.nav-fill a {
  color: #999;
}

.nav-fill a.nav-link.active {
  color: #333;
}

.nav-fill a.active {
  background-color: transparent !important;
}
